.cart-page {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: auto auto;
}

@media (max-width: 500px) {
  .cart-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
