.stores-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.store-cards {
    padding: 2rem;
} 

.shop-btn {
    font-family: 'Ruda', sans-serif;
    background-color: #F36B22;
    color: white;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}