.header-image {
    mask-image: linear-gradient(to bottom, rgba(13, 13, 13, 1), 65%, transparent 100%);
    min-height: 200px;
    width: 100%;
    z-index: -1;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.header-container {
    /* display: flex;
    position: relative;
    text-align: center; */
    color: white;
    display: flex;
    align-items: center;
    /* background-color: #f7f7f7; */
    position: sticky;
    top: 0;
    /* z-index: 1; */
    width: 100%;
}

.stores {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(29, 113, 20);
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* .stores {
    position: absolute;
    top: 30%;
    left: 87%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(29, 113, 20);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
} */

.search {
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(29, 113, 20);
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search:hover,
.stores:hover {
    background-color: black;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    transform: translate(-50%, -50%);
}

.header-openBasket {
    color: #D32A92;  
    text-decoration: none;
    position: absolute;
    display: flex;
    align-items: flex-start;
    top: 5%;
    left: 85%;
}

.header-openBasket:hover {
    color: #E9AB1F;
}

.frugal-logo {
    position: relative;
    width: 100%;
}
