.header-image {
    height: auto;
    width: 100vw;
}

.header-container {
    display: flex;
    position: relative;
    text-align: center;
    color: white;
}

.header-container .home {
    position: absolute;
    top: 30%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(29, 113, 20);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.header-container .list {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(29, 113, 20);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.header-container .search {
    position: absolute;
    top: 70%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(29, 113, 20);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.header-container .home:hover {
    background-color: black;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 42%;
    height: 73%;
    border: 2px solid black;
    border-bottom-left-radius: 65% 50%;
    border-bottom-right-radius: 65% 50%;
    border-top-left-radius: 65% 75%;
    border-top-right-radius: 65% 75%;
    transform: translate(-50%, -50%);
}

.frugal-logo {
    position: relative;
    width: 80%;
    top: 7%;
}
