
.footer {
  border-top: 1 px solid black;
  padding: 20px;
  width: 100%;
  background-color: rgba(245, 243, 243, 0.753);
   bottom: 0;
   text-align: center;
   margin-top: 60vh;
}

.footer > p {
  padding: 2px;
  font-size: 14px;
}
.footer a {
  color: rgb(9, 9, 9);
}

.footer:hover a:hover {
  color: rgb(50, 185, 50);
 }